
# Playwright
node_modules/
/test-results/
/playwright-report/
/playwright-report-enrollmate/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-results/
/allure-report/
/allure-results-db/
/allure-report-db/
/.docker/postgres-data/

.env
!.env.example
